#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Compa
GenericName=Desktop Companion
Comment=A living Tux companion for the Linux desktop
Exec=AppRun
Icon=compa
Terminal=false
Categories=Utility;
